.button-style {
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
    -fx-background-color: #ff6347; /* Tomato */
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.text-default {
    -fx-text-fill: black;
    -fx-background-color: transparent;
}

.underline .label {
    -fx-underline: true;
}

.text-correct {
    -fx-text-fill: green;
}

.text-error {
    -fx-text-fill: red; /* Kolor tekstu */
    -fx-background-color: pink;
}